{% load static %}
<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">

<link href="{% static "fonts/lao/lao-font.css" %}" rel="stylesheet">

<style>

</style>

</head>
<body>

    	<h1 class="lao-myletter">ສ້າງຕັ້ງບໍລິສັດ</h1>
        <p class="lao-hand12">ບໍລິສັດ ກຸ່ມດວງຈະເລີນພັດທະນາກໍ່ສ້າງ ຈໍາກັດຜູ້ດຽວ ສ້າງຕັ້ງຂື້ນພາຍໃຕ້ກົດໝາຍການລົງທຶນຂອງ ສປປ ລາວໃນປີ 1997 ເປັນບໍລິສັດເອກະຊົນຂອງຄົນລາວ 100ເປີເຊັນ ໂດຍແມ່ນ ທ່ານ ຄໍາຜາຍ ສີລາຊາ ເປັນຜູ້ລິເລີ້ມກໍ່ຕັ້ງ, ຊີ້ນໍາ-ນໍາພາ ແລະ ບໍລິຫານງານຕະຫຼອດມາ. ໃນເບື້ອງຕົ້ນໃສ່ຊື່ວ່າ: ບໍລິສັດ ດວງຈະເລີນພັດທະນາ ກໍ່ສ້າງ ຈໍາກັດ (DDC), ມີສໍານັກງານຕັ້ງຢູ່ທີ່ ແຂວງຊຽງຂວາງ ພາກເໜີືອຂອງ ສ ປ ປ ລາວ ດ້ວຍມູນຄ່າຊັບສິນໃນເບື້ອງຕົ້ນມີພຽງແຕ່ 1 ລ້ານໂດລາ. ໃນໄລຍະທໍາອິດ ບໍລິສັດໄດ້ດໍາເນີນທຸລະກິດດ້ານຂະແໜງການກໍ່ສ້າງຂົວ-ທາງ, ຊົນລະປະທານ, ນໍ້າປະປາ.</p>
        <h1 class="lao-boonlor">ຂະຫຍາຍຕາໜ່າງບໍລິການ ແລະ ບໍລິສັດໃນເຄືອ</h1>
        <p class="lao-hand14">ຜ່ານການຈັດຕັ້ງປະຕິບັດມາຫຼາຍໂຄງການແຕ່ເໜືອຮອດໃຕ້ ບໍລິສັດໄດ້ມີການເຕີບໃຫຍ່ຂະຫຍາຍຕົວ, ເປັນທີ່ຮູ້ຈັກ ແລະ ຮັບຮູ້ຂອງສັງຄົມໄດ້ຮັບຄວາມໄວ້ເນື້ອເຊື່ອໃຈຈາກພັກ-ລັດຖະບານ ແລະ ໄດ້ຂະຫຍາຍກິດຈະການອອກເປັນຫລາຍຂະແໜງການເຊັ່ນ: ສໍາຫຼວດ-ອອກແບບ, ກໍ່ສ້າງຂົວ-ທາງ, ຕຶກອາຄານ, ເຂື່ອນໄຟຟ້າ, ອຸດສາຫະກໍາເຟີນິເຈີ, ບໍ່ແຮ່, ກະສິກໍາ ແລະ ການສຶກສາ. ໃນປະຈຸບັນມີບໍລິສັດໃນກຸ່ມລວມທັງໝົດ 14 ບໍລິສັດ ຈຶ່ງໄດ້ປ່ຽນມາເປັນກຸ່ມບໍລິສັດໂດຍໃສ່ຊື່ວ່າ ​ບໍລິສັດ ກຸ່ມດວງຈະເລີນພັດທະນາກໍ່ສ້າງ ຈໍາກັດ ຜູ້ດຽວ (DDC GROUP) ມີສໍານັກງານໃຫຍ່ຕັ້ງຢູ່ ກມ 19, ຖະຫນົນ 450 ປີ, ບ້ານໂພນທອງ, ເມືອງໄຊເສດຖາ, ນະຄອນຫລວງວຽງຈັນ.</p>
        
        <h1 class="lao-khankham">ຂະຫຍາຍຕາໜ່າງບໍລິການ ແລະ ບໍລິສັດໃນເຄືອ</h1>
        <p class="lao-sikhai">ຜ່ານການຈັດຕັ້ງປະຕິບັດມາຫຼາຍໂຄງການແຕ່ເໜືອຮອດໃຕ້ ບໍລິສັດໄດ້ມີການເຕີບໃຫຍ່ຂະຫຍາຍຕົວ, ເປັນທີ່ຮູ້ຈັກ ແລະ ຮັບຮູ້ຂອງສັງຄົມໄດ້ຮັບຄວາມໄວ້ເນື້ອເຊື່ອໃຈຈາກພັກ-ລັດຖະບານ ແລະ ໄດ້ຂະຫຍາຍກິດຈະການອອກເປັນຫລາຍຂະແໜງການເຊັ່ນ: ສໍາຫຼວດ-ອອກແບບ, ກໍ່ສ້າງຂົວ-ທາງ, ຕຶກອາຄານ, ເຂື່ອນໄຟຟ້າ, ອຸດສາຫະກໍາເຟີນິເຈີ, ບໍ່ແຮ່, ກະສິກໍາ ແລະ ການສຶກສາ. ໃນປະຈຸບັນມີບໍລິສັດໃນກຸ່ມລວມທັງໝົດ 14 ບໍລິສັດ ຈຶ່ງໄດ້ປ່ຽນມາເປັນກຸ່ມບໍລິສັດໂດຍໃສ່ຊື່ວ່າ ​ບໍລິສັດ ກຸ່ມດວງຈະເລີນພັດທະນາກໍ່ສ້າງ ຈໍາກັດ ຜູ້ດຽວ (DDC GROUP) ມີສໍານັກງານໃຫຍ່ຕັ້ງຢູ່ ກມ 19, ຖະຫນົນ 450 ປີ, ບ້ານໂພນທອງ, ເມືອງໄຊເສດຖາ, ນະຄອນຫລວງວຽງຈັນ.</p>



</body>
</html>
